.appbar{
    width: 100%;
    position: absolute;
    margin: 2%;
    padding: 0%;
    top: 50px;
    background: linear-gradient(#270c0c73, #24237581);
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 10px rgb(22 13 102 / 65%);

}
.appbar:hover{
    background: linear-gradient(#04251bab, #61073986);
 


}
.btn1{
    color: white;
}